@import './mixins.scss';
ul{
    list-style-type: disc;
}
ul>li:before {
    display:inline-block;
    width:1.5em;
    padding-right:0.5em;
    font-weight:bold;
    color: #338212;
  }
.accordion-item{
    outline: transparent !important;
    border-radius: 5px !important;
    border: none !important;
    color: #000;
    background-color: #f9fcf8;
    
}

.accordion-header, .accordion-button{
    background: transparent !important;
}

.accordion-button:focus{
    background: transparent !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    color: #0C350F;
}
.accordion-button::after{
    content: "\f056" !important;
    background-image: none !important;
}

.accordion-button.collapsed::after{
    content: "\f055" !important;
    background-image: none !important;

}

a{
    color: #FFFFFF;
    text-decoration: none;
    margin: 40px;
}
a:hover{
    color: #52B788;
}
.header{
    background-image:url('../../public/image/header2.png'), url('../../public/image/header.png');
    height: 100vh;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s all ease-in-out;
    animation: forwards;
    &__row{
        margin: 50px;
        align-items: center;
        justify-content: center;
    }

    &--logo{
        background-color: #FFFFFF;
    }
    // &--title{
    //     @include TextSize (700, 50px, 6262.93px);
    // }
    // &--text{
    //     @include TextSize (400, 20px, 29.05px);
    // }
    &--title{
        font-weight: 700;
        font-size: 50px;
        line-height: 62.93px;
    }
    &--text{
        font-weight: 400;
        font-size: 20px;
        line-height: 29.05px;
    }
    &--btn{
        @include Btn;
    }
    &--btn:hover{
        @include BtnHover;
    }
    &--link{
        @include Btn;
        padding: 17px;
        margin-top: 55px;
    }
    &--link:hover{
       @include BtnHover;
    }
    
}
   
    

.story{
    text-align: start; 
    font-family: 'Inter', sans-serif;

    &--title{
        color: #338212;
        font-weight: 600;
        font-size: 20px;
        line-height: 24.2px;
    }
    &--subtitle{
        font-weight: 600;
        font-size: 22px;
        color: #0C350F;
    }
    &__img{
        transform: rotate(-20deg);
        box-shadow:0 4px 10px rgba(12, 53, 15, 0.2);
        outline: none;
    }
    &__img2{
        transform: rotate(20deg);
        box-shadow:0 4px 10px rgba(12, 53, 15, 0.2); 
    }
    
}
.solution{
    text-align: start;
    font-family: 'Inter', sans-serif;
    &--title{
        color: #338212;
        font-weight: 600;
        font-size: 20px;
        line-height: 24.2px;
    }
    &--subtitle{
        font-weight: 500;
        font-size: 30px;
        // line-height: 56px;
        color: #0C350F;
    }
    &__card{
        box-shadow:0 4px 10px rgba(12, 53, 15, 0.2);
        border-radius: 10px;
        &--circle{
            border-radius: 100%;
            width: 40%;
            padding: 20px;
            margin: 20px;
            text-align: center;
            background-color: #52B788;
        }
        &--title{
            font-weight: 700;
            font-size: 20px;
            color: #0C350F;
        }
    }
}
.opportune{
    background-color:#f0f7f1;
    font-family: 'Inter', sans-serif;
    &--title{
        font-weight: 500;
        color: #0C350F;
        font-size: 44px;
    }
    &--text{
        font-size: 18px;
    }
}
.products{
    font-family: 'Inter', sans-serif;
    &--title{
        font-weight: 600;
        color: #338212;
    }
    &--subtitle{
        font-weight: 500;
        font-size: 28px;
        color: #0C350F;
    }
    &--text{
        font-size: 18px;

    }
    &__card{
        box-shadow:0 4px 10px rgba(12, 53, 15, 0.2);
        &--text{
            font-size: 20px;
            color: #0C350F;
            font-weight: 600;
        }
    }
    &__card:hover{
        box-shadow: 0 2px 12px rgb(51 51 51 / 20%);
        transition: 3s ease-in-out;
        cursor: pointer;
        background-color: #dff7ec;
        transform: scale(.95);
        transform: rotateX(-360deg);
    }
}
.partners{
    font-family: 'Inter', sans-serif;
&--title{
    font-weight: 500;
    font-size: 44px;
    line-height: 56px;
    color: #0C350F;
}
}
.faqs{ 
    font-family: 'Inter', sans-serif; 
    background-color:#f0f7f1;
&--title{
    font-weight: 500;
    color: #0C350F;
    font-size: 44px;
}
}
.success{
    font-family: 'Inter', sans-serif;
    &--title{
        font-weight: 500;
        font-size: 30px;
        color: #0C350F;
    }
    &--text{
        font-size: 18px;
        font-weight: 300;
        color: #0C350F;
    }
    &__img:hover{
        transition: 3s ease-in-out;
        cursor: pointer;
        transform: scale(.95);
    }
}
.teams{
    font-family: 'Inter', sans-serif;
    &--title{
        font-weight: 500;
        font-size: 44px;
        line-height: 56px;
        color: #000;
    }
    &__card{
        box-shadow: 0px 4px 10px
        rgba(12, 53, 15, 0.15);
        &--title{
            font-size: 20px;
            font-weight: 400;
        }
        &--span{
            font-weight: 600;
        }
    }
    &__card:hover{
        box-shadow: 0 2px 10px rgb(51 51 51 / 20%);
        transition: 3s ease-in-out;
        cursor: pointer;
        filter: grayscale(40%);
        background-color: #f0f7f3;
        transform: scale(.98);
        // transform-style: preserve-3d;
    }
 &--img{
    background-image: rgba(12, 53, 15, 0.3);
 }
}
.footer{
    font-family: 'Inter', sans-serif;
    background-color: #0C350F;
    color: #F5F9F3;
}

@media screen and (max-width: 600px) {
    .header{
        &--title{
            font-size: 21px;
            line-height: normal;
        }
        &--text{
            font-size: 15px;
            line-height: normal;
        }
        &--link{
            margin-top: 0;
        }
       
    }
    .story{
        text-align: start;
        &--title{
            color: #338212;
            font-weight: 600;
            font-size: 20px;
            line-height: 24.2px;
        }
        &--text{
            font-size: 18px;
            color: #0C350F;
        }
        &__img{
            transform: rotate(0deg);
        }
        &__img2{
            transform: rotate(0deg);
        }
        .faqs{
            &--title{
                font-size: 30px;
            }
        }
        .partners{
            &--title{
                font-size: 30px;
            }
        }
    }

    
}
.wrapper {
    .banner {
         .nav {
            display: flex;
            justify-content: center;
            padding: 2rem .1rem;
            &__logo {
               display: none;
           }
           &__menu{
            &--link{
                display: inline-block;
                padding: 0 2rem;
                font-weight: bold;
                color: #fff;
            }
           }
        }
        
    }
}





/* screen size below 768px mobile */
@media screen and (max-width: 768px) {
    .header{
        &--title{
            font-size: 30px;
            line-height: normal;
        }
    }
    .banner {
        // background-color: red;
       .nav{
        .nav__logo{
            display: block;
            margin-bottom: 1rem;
        }
       }
    }

    .banner .nav__menu {
        text-align: center;
    }

    .banner .nav__menu .nav__menu--link {
        margin-bottom: .5rem;
        padding: 0;
        padding-right: 1rem;
    }

    .banner .nav__menu .nav__menu--link:nth-child(3) {
        display: none;
    }
    .teams{
        &--title{
            font-weight: 500;
            font-size: 30px;
        }
        &__card{
            &--title{
                font-size: 17px;
                font-weight: 400;
            }
            &--text{
                font-size: 10px;
            }
            &--span{
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width:998px) {
    .teams{
        &--img{
            height: 100vh;
        }
    }
}
