@import './mixins.scss';
ul{
    list-style-type: disc;
}
ul>li:before {
    display:inline-block;
    width:1.5em;
    padding-right:0.5em;
    font-weight:bold;
    color: #338212;
  }
.accordion-item{
    outline: transparent !important;
    border-radius: 5px !important;
    border: none !important;
    color: #000;
    background-color: #f9fcf8;
    
}

.accordion-header, .accordion-button{
    background: transparent !important;
}

.accordion-button:focus{
    background: transparent !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    color: #0C350F;
}
.accordion-button::after{
    content: "\f056" !important;
    background-image: none !important;
}

.accordion-button.collapsed::after{
    content: "\f055" !important;
    background-image: none !important;
}

a{
    color: #FFFFFF;
    text-decoration: none;
    margin: 40px;
}
a:hover{
    color: #52B788;
}

.banner {
    background-image:url('../../public/image/header2.png'), url('../../public/image/header.png');
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    .nav {
        display: flex;
        justify-content: center;
        padding: 2rem .1rem;
        &__logo {
           display: none;
       }
       &__menu{
        &--link{
            display: inline-block;
            padding: 0 2rem;
            font-weight: bold;
            color: #fff;
        }
       }
    }

    &__text {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        &--sub{
            margin-top: 1rem;
        }
        &--btn{
            background-color: #338212;
            padding: 1rem 3rem;
            border-radius: 10px;
            color: #FFFFFF;
            font-weight: 600;
            width: 267px;
        }
        &--btn:hover{
            @include BtnHover;
        }
    }
}

.story{
    text-align: start; 
    font-family: 'Inter', sans-serif;

    &--title{
        color: #338212;
        font-weight: 600;
        font-size: 20px;
        line-height: 24.2px;
    }
    &--subtitle{
        font-weight: 600;
        font-size: 22px;
        color: #0C350F;
    }
    &__img{
        transform: rotate(-20deg);
        box-shadow:0 4px 10px rgba(12, 53, 15, 0.2);
        outline: none;
    }
    &__img2{
        transform: rotate(20deg);
        box-shadow:0 4px 10px rgba(12, 53, 15, 0.2); 
    }
    
}
.solution{
    text-align: start;
    font-family: 'Inter', sans-serif;
    &--title{
        color: #338212;
        font-weight: 600;
        font-size: 20px;
        line-height: 24.2px;
    }
    &--subtitle{
        font-weight: 500;
        font-size: 30px;
        // line-height: 56px;
        color: #0C350F;
    }
    &--btn{
        @include Btn;
    }
    &--btn:hover{
        @include BtnHover;
    }
    &__card{
        box-shadow:0 4px 10px rgba(12, 53, 15, 0.2);
        border-radius: 10px;
        &--circle{
            border-radius: 100%;
            width: 40%;
            padding: 20px;
            margin: 20px;
            text-align: center;
            background-color: #52B788;
        }
        &--title{
            font-weight: 700;
            font-size: 20px;
            color: #0C350F;
        }
    }
}
.opportune{
    background-color:#f0f7f1;
    font-family: 'Inter', sans-serif;
    &--title{
        font-weight: 500;
        color: #0C350F;
        font-size: 40px;
    }
    &--text{
        font-size: 18px;
    }
}
.products{
    font-family: 'Inter', sans-serif;
    &--title{
        font-weight: 600;
        color: #338212;
    }
    &--subtitle{
        font-weight: 500;
        font-size: 28px;
        color: #0C350F;
    }
    &--text{
        font-size: 18px;

    }
    &__card{
        box-shadow:0 4px 10px rgba(12, 53, 15, 0.2);
        &--text{
            font-size: 20px;
            color: #0C350F;
            font-weight: 600;
        }
    }
    // &__card:hover{
    //     box-shadow: 0 2px 12px rgb(51 51 51 / 20%);
    //     transition: 3s ease-in-out;
    //     cursor: pointer;
    //     background-color: #dff7ec;
    //     transform: scale(.95);
    //     transform: rotateX(-360deg);
    // }
}
.partners{
    font-family: 'Inter', sans-serif;
    &--title{
        font-weight: 500;
        font-size: 44px;
        line-height: 56px;
        color: #0C350F;
    }
    &__col{
        width: 50%;
        &--img{
            width: 40%;
        }
    }

    &--btn{
        @include Btn;
    }
    &--btn:hover{
        @include BtnHover;
    }
}
.faqs{ 
    font-family: 'Inter', sans-serif; 
    background-color:#f0f7f1;
&--title{
    font-weight: 500;
    color: #0C350F;
    font-size: 44px;
}
}
.success{
    font-family: 'Inter', sans-serif;
    &--title{
        font-weight: 500;
        font-size: 30px;
        color: #0C350F;
    }
    &--text{
        font-size: 18px;
        font-weight: 300;
        color: #0C350F;
    }
    &__img:hover{
        transition: 3s ease-in-out;
        cursor: pointer;
        transform: scale(.95);
    }
}
.teams{
    font-family: 'Inter', sans-serif;
    &--title{
        font-weight: 500;
        font-size: 44px;
        line-height: 56px;
        color: #000;
    }
    &__card{
        box-shadow: 0px 4px 10px
        rgba(12, 53, 15, 0.15);
        &--title{
            font-size: 1rem;
            font-weight: 400;
        }
        &--span{
            font-weight: 600;
        }
    }
    // &__card:hover{
    //     box-shadow: 0 2px 10px rgb(51 51 51 / 20%);
    //     transition: 3s ease-in-out;
    //     cursor: pointer;
    //     filter: grayscale(40%);
    //     background-color: #f0f7f3;
    //     transform: scale(.98);
    // }
 &--img{
    background-image: rgba(12, 53, 15, 0.3);
 }
}
.footer{
    font-family: 'Inter', sans-serif;
    background-color: #0C350F;
    color: #F5F9F3;
    &__col{
        padding: 0.5rem 4rem;
        width: 25%;
        &--img{
            width: 100%;
        }
    }
    &__col:nth-child(4){
        width: 18%;
    }
    &__col:nth-child(5){
        width: 17%;
    }
  
}

@media screen and (max-width: 600px) {
    .story{
        text-align: start;
        &--title{
            color: #338212;
            font-weight: 600;
            font-size: 20px;
            line-height: 24.2px;
        }
        &--text{
            font-size: 18px;
            color: #0C350F;
        }
        &__img{
            transform: rotate(0deg);
        }
        &__img2{
            transform: rotate(0deg);
        }
        .opportune{
            &--title{
                font-size: 1.1rem;
            }
        }
        .faqs{
            &--title{
                font-size: 30px;
            }
        }
        .partners{
            &--title{
                font-size: 1.1rem;
            }
        }
        .footer{
            &__col{
                padding: 0.5rem 4rem;
                width: 50%;
                &--img{
                    width: 100%;
                }
            }
            
        }
    }

    
}




/* screen size below 768px mobile */
@media screen and (max-width: 768px) {
    .banner {
        .nav {
            &__logo {
               display: block;
               margin-bottom: .5rem;
           }
           &__menu{
            text-align: center;
            &--link{
                margin-bottom: .1rem;
                padding: 0;
                padding-right: 1rem;
                font-size: .5rem;
            }
            &--link:nth-child(3) {
                display: none;
            }
           }
        }
        &__text{
            &--title{
                font-size: 1rem;
            }
            &--sub{
                margin-top: 2rem;
                font-size: .7rem;
            }
            &--btn{
                background-color: #338212;
                padding:1rem;
                border-radius: 10px;
                color: #FFFFFF;
                font-weight: 400;
                font-size: .4rem;
                // top: 60rem;
                width: 280px;
                // transform: translate(-30%);
                
                
            }
        }    
    }
.opportune{
    &--title{
        font-size: 1.5rem;
    }
}
    .success{
        &--title{
            font-size: 1.5rem;
        }
    }
    .teams{
        &--title{
            font-weight: 500;
            font-size: 30px;
        }
        &__card{
            background-color: yellow;
            &--title{
                font-size: .5rem;
                font-weight: 400;
                color: purple;
            }
            &--subtitle{
                font-size: .67rem;
                color: red;
            }
            &--text{
                font-size: .5rem;
            }
            &--span{
                font-weight: 600;
            }
        }
    }
    .faqs{
        &--title{
            font-size: 1.5rem;
        }
    }
    .partners{
        &--title{
            font-size: 1.5rem;
        }
    }
    .footer{
        &__col{
            width: 50%;
            &--img{
                width: 75%;
                // height: 3;
            }
        }
        &__col:nth-child(4){
            width: 30%;
        }
        &__col:nth-child(5){
            width: 30%;
        }
    }
}

@media screen and (max-width:998px) {
    .teams{
        &__card{
            width: 100%;
            background-color: transparent;
            padding: 0;
            border-radius: none;
            padding: 0;
            // height: 40vh;
            align-items: center;
            &--img{
                width: 100%;
            }
        }
    }
}
