@mixin Btn {
    width: 220px;
        height: 60px;
        border-radius: 10px;
        color: #FFFFFF;
        background-color: #338212;
        border: #338212;
        font-weight: 600;
        text-align: center;
}
@mixin BtnHover {
    background: #FFFFFF;
    border: 3px solid #338212;
    transition: 3s  all;
    color: #000000;
}
@mixin TextSize ($font-weight,$font-size,$line-height) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

@media screen and (max-width: 600px) {
    @mixin Btn {
        width: 20vw;
    }
}